/* Navegador */
.navbar .form-control {
  height: 45px;
  font-size: 14px;
}

.navbar-nav .nav-link {
  font-size: 14px;
}

/* Hero Section */
.hero-section {
  background-size: cover;
  width: 100%;
  height: 30rem;
  color: Black;
  margin-bottom: 9rem;
  position: relative;
  z-index: 0;
}

.hero-section .container {
  height: 100%;
  z-index: 1;
  position: relative;
}

.hero-section p{
    color: gray;
}

/* Carrusel inicio */
.outside-btn {
  width: auto;
}

.carousel-control-prev {
  left: -5rem;
}

.carousel-control-next {
  right: -5rem;
}

/* login popup */
.popup-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  background: #222;
  color: white;
  padding: 25px;
  border-radius: 12px;
  min-width: 280px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 20px black;
  border: 1px solid #555;
}
